{% extends 'base.html.twig' %}

{% block body %}
  <footer>    
    <div class="footer-bottom">
      <p>&copy; 2025 plateforme de suivi et d'évaluation de projets|Tous droits réservés</p>
    </div>
  </footer>
{% endblock %}